#app {
    display: flex;
    justify-content: space-between;
}

*[v-cloak] {
    display: none;
}

.resume {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: #ddd;
}

.resume div {
    margin:20px 0;
}

.about {
    display: flex;
    border: 1px solid black;
}

.skills {
    border: 1px solid black;
}

.skills .skill {
    background: red;
    padding: 10px;
}

.experience {
    border: 1px solid black;
}

.production {
    border: 1px solid black;
}

.actions {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100%;
    border: 1px solid black;
}
