.signUp {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 434px;
    height: 400px;
    background: #fff;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.signUp .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    color: rgb(13, 133, 231);
}

.signUp h2 {
    line-height: 138px;
    height: 138px;
    font-size: 40px;
}

.signUp .row {
    margin-bottom: 20px;
}

.signUp label {
    display: flex;
    height: 44px;
}

.signUp label span{
    text-align: center;
    width: 44px;
    line-height: 44px;
    background: rgb(13, 133, 231);
    color: #fff;
}

.signUp input {
    padding-left: 20px;
    flex-grow: 1;
    background: rgb(230, 230, 230);
    color: rgb(13, 133, 231);
    height: 100%;
}

.signUp button{
    width: 320px;
    border: none;
    color: #fff;
    background: rgb(13, 133, 231);
    height: 44px;
}

.signUp .close {
    position: fixed;
    top: 20px;
    right: 20px;
}

.signUp .icon {
    width: 1.3em; height: 1.3em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }

 .signUp .close .icon{
    width: 2em;height: 2em;
 }






